# Ignore database files
*.sqlite
*.db

# Ignore sensitive data files
*.pem
*.key

# Ignore API keys
api-key.txt

# Ignore password files
password.txt
passwords/

# Ignore system-specific files
.DS_Store
Thumbs.db
